<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home page di Cascina Marcella, su questa pagina inizierai a scoprire la storia, i prodotti e i nostri valori.">
    <meta name="keywords" content="Agricoltura, prodotti bio, verdura, frutta, uova, consegne a domicilio">
    <meta name="author" content="Edoardo Orta">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="js/nav.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="img/logo.png">
    <title>Feed</title>
</head>
<body>
    <header id="navbarContainer"></header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col"  th:switch="${user.name}">
                    <h1 class="alert alert-danger rocking" th:case="Amedeo">Buon Babbo, Yellino!!
                        <img src="/img/sabaudo.jpg" style="width:100%" alt="regalo di Yell"/>
                    </h1>
                    <h1 th:case="*">Benvenuto, <span class="rocking">[[${user.name}]]</span> </h1><div class="row">
                    
                        <div class="col-md-8">
                            <h2>I regali che hai effettuato:</h2>
                            <div class="gift" >
                                <div class="row">
                                    <div class="col" th:each=" babboGift : ${babbi}">
                                        <h3>[[${babboGift.name}]] <span class="text-muted"> [[${babboGift.review}]] <i class="fas fa-star"></i></span></h3>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h2>I regali che hai ricevuto:</h2>
                            <div class="gift" th:each=" basiumGift : ${basia}">
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <li>
                                                <a th:href="@{'/gift?id='+${basiumGift.id}}">
                                                    <h3>[[${basiumGift.name}]] <span class="text-muted"> [[${basiumGift.review}]] <i class="fas fa-star"></i></span></h3>
                                                </a>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h2>Gruppi:</h2>
                            <ul>
                                <li th:each=" group : ${groups}">
                                    <a th:href="@{'/group-feed?id='+${group.id}}">
                                        <h2>[[${group.name}]]</h2>
                                    </a>
                                </li>
                            </ul>
                         
                        </div>
                        <div class="col-md-4">
                            <h2 class="">Aggiungi un regalo:</h2>
                            <form id="giftAdder" >
                                <div class="formInput">
                                    <label for="name">Che cos'è?</label>
                                    <input type="text" name="name" required>
                                </div>
                                <div class="formInput">
                                    <label for="review">Quanto ti è piaciuto? <i class="fas fa-star"></i></label>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-1">1</div>
                                            <div class="col"><input type="range" class="form-range" min="1" max="5" name="review" required></div>
                                            <div class="col-1">5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="formInput">
                                    <label for="group">In che gruppo?</label>
                                    <select name="groupId" id="groupIdSelector" required>
                                        <option value="">Seleziona</option>
                                        <option th:each="group : ${groups}" th:value="${group.id}">[[${group.name}]]</option>
                                    </select>
                                    <div class="formInput">
                                        <label for="babbo">Chi te l'ha fatto?</label>
                                        <select name="babboId" id="babboIdSelector" required>
                                            <option value="">Seleziona</option>
                                            <optgroup th:each="group : ${groups}" th:label="${group.name}">
                                                <span th:each=" member : ${group.members}">

                                                    <option th:if="${member!=user.id}" th:value="${member}">
                                                        <span  th:each=" person : ${people}">
                                                            <span th:if="${person.id== member}">
                                                                [[${person.name}]]
                                                            </span>
                                                        </span>
                                                    </option>
                                                </span>
                                                
                                            </optgroup>
                                        </select>
                                    </div>
                                <input type="hidden" name="basiumId" th:value="${user.id}">
                                <input type="submit" class="btn btn-primary" value="Invia">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer id="footerContainer"></footer>
</body>

<script>
    $('#giftAdder').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '/gift',
            type: 'POST',
            data:$('#giftAdder').serialize(),
            success:function(){
                window.location.reload();
            }
        });
    });
</script>